<header>
    <div>
        <h1>Your books</h1>
        <p id="all-books-count">10 books found</p>
    </div>
    <button onclick="showForm(true)">Add new book</button>
</header>
<article class="container-bookshelf">
    <header>
        <h2>Uncompleted Books</h2>
        <p id="uncompleted-books-count">10 books found</p>
    </header>
    <div class="bookshelf" id="uncompleted-books-container">

    </div>
</article>
<article class="container-bookshelf">
    <header>
        <h2>Completed Books</h2>
        <p id="completed-books-count">10 books found</p>
    </header>
    <div class="bookshelf" id="completed-books-container">


    </div>
</article>