<div class="container-content" id="empty-book-dashboard">
    <article>
        <header>
            <h1>Your Books</h1>
            <p onclick="showBooksPage()">View more &RightArrow;</p>
        </header>
        <div>
            <p>Your shelves are eagerly awaiting your first addition. Begin your reading adventure by adding your favorite books. Let's fill these shelves with stories that inspire and captivate you.</p>
            <button onclick="showForm(true)">Add new book</button>
        </div>
    </article>

</div>